<h1> Weather Demo </h1>
<form method="post" action="/weather">
  Enter an address:<input type="text" name="address"><br>
  <input type="submit">
</form>

<h1>JSON format</h1>
<form method="post" action="/weather.json">
  Enter an address:<input type="text" name="address"><br>
  <input type="submit">
</form>