<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CS103a</h1>
    <p>Welcome to CS103a</p>
    <ul>
      <li>uno</li>
      <li>dos</li>
      <li>tres</li>
    </ul>
    <a href="https://www.brandeis.edu">Brandeis</a>
    <br>
    <%=  Date()  %>
     <%= 23*27 %>
     
  </body>
</html>
