<h1>About the app</h1>
<p class="bg-info text-danger">This is a demo app</p>


    <div class="row">
      <div class="col bg-primary">
        Column A
        <img src="/images/zipline2019.jpg" width="100%">
      </div>
      <div class="col bg-info">
        Column B
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
        This is a photo from a zipline in CT
      </div>    
      <div class="col bg-danger">
        Column C
        <img src="" width="100%">
      </div>
    </div>

    <div class="row">
        <div class="col bg-info">
            Column B
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
            This is a photo from a zipline in CT
          </div>    
        <div class="col bg-primary">
          Column A
          <img src="/images/zipline2019.jpg" width="100%">
        </div>

      </div>