

<div class="row">
      
    <div class="col-sm-5">
        <h2>Login</h2>
        <form method="post" action="/login">
            username: <input type="text"
                             autocomplete="username"
                             name="username"><br>
            passphrase: <input  type="password"
                                autocomplete="passphrase"
                                name="passphrase"><br>
            <input type="submit">
        </form>
    </div>
  
    <div class="col-sm-2" style="text-align:center">
        OR
    </div>
  
    <div class="col-sm-5">
        <h2>Signup</h2>
        <form method="post" action="/signup">
            username: <input type="text" autocomplete="username" name="username"><br>
            password
               <input type="password" autocomplete="passphrase" name="passphrase"><br>
            confirm password:
                <input type="password" name="passphrase2"><br>
          
            age: <input type="number" name="age"><br>
          
          
            <input type="submit">
        </form>
    </div>
</div>


