
  <div class="jumbotron">
    <h1> ToDo List for <%= user.googlename %> </h1>
    <p> Here is your list of things to do! </p>

      <% items.forEach(item => { %>
           <a href="/todo/remove/<%=item._id %>">X</a>
           ::
           <%= item.item %>
          <br>
      <% }) %>

      <form method="post" action="todo">
          new item: <input type="text" name="item"><br>
          <input type="submit" value="store">
      </form>

  </div>
